/* sign-up */
/* 
.form-control  .bi-check-square{
    border-color: #2ecc71;
  
  } */
  /* .form-control i{
  visibility: hidden;
  position: absolute;
      top: 20px;
      right: 10px; 
  } */
  /* .form-control .bi check-square {
    color: #2ecc71;
      visibility: visible;
      margin-right: 10px;
      margin-top: 5px;
  }
  .form-control .bi bi-exclamation-circle{
    color: #e74c3c;
      visibility: visible;
      margin-right: 10px;
      margin-top: 5px;
  }  */
  .form-control small {
      color: #e74c3c;
      position: relative;
      bottom: 0;
      left: 4;
      visibility: hidden;
  }
  
  .form-control .error small {
      visibility: visible;
  }
  .form-control .success input {
      border-color: #2ecc71;
  }
  
  .form-control .error input {
      border-color: #e74c3c;
  }
  .form-control .error{
      color: #e74c3c;
      visibility: visible;
      margin-right: 10px;
      margin-top: 5px;
  }